<?xml version="1.0" encoding="UTF-8"?>                                                                    
<!DOCTYPE mapper                                                                                          
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"                                                             
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="st.crm.mapper.CreateQuestionQuestionQaRelMapper">

	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="st.crm.model.CreateQuestionQuestionQaRelModel">
		<result column="id" property="id" />
		<result column="creat_questionid" property="createQuestionid" />
		<result column="question_qaid" property="questionQaid" />
	</resultMap>

	<sql id="Base_Column_List">
		id,creat_questionid,question_qaid
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="createQuestionid != null and createQuestionid != ''">
				and creat_questionid = #{createQuestionid}
			</if>
			<if test="questionQaid != null and questionQaid != ''">
				and question_qaid = #{questionQaid}
			</if>
		</trim>
	</sql>
	<insert id="insert" parameterType="Object">
		insert into
		create_question_question_qa_rel
		(createQuestionid,
		question_qaid
		)
		values(
		#{createQuestionid},#{questionQaid})
	</insert>
	<update id="update" parameterType="Object">
		update
		create_question_question_qa_rel set
		createQuestionid =
		#{createQuestionid}, question_qaid = #{questionQaid}
		where id =
		#{id}
	</update>
	<select id="selectByModel" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from create_question_question_qa_rel
		<include refid="Example_Where_Clause" />
	</select>

	<select id="selectId" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from create_question_question_qa_rel where id = #{id}
	</select>
	<!-- 系统用户 列表总数 -->
	<select id="selectCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from create_question_question_qa_rel
		<include refid="Example_Where_Clause" />
	</select>

	<delete id="deleteModel" parameterType="Object">
		delete from create_question_question_qa_rel
		<include refid="Example_Where_Clause" />
	</delete>


	<select id="selectModel" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from create_question_question_qa_rel
		<include refid="Example_Where_Clause" />
	</select>

	<select id="selectAll" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from create_question_question_qa_rel
		<include refid="Example_Where_Clause" />
	</select>
</mapper>                                                                                                 
                                                                                                          